.entries-container {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  width: 224px;
  height: 150px;
  display: block;
  overflow: hidden;
  border: solid 1px black;
  margin: 30px 0px 0px 30px;
  background: rgba(0, 0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
}

.entry .thumbnail {
  width: 225px;
}

.entry .date {
  position: absolute;
}
